/* shared font style */
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.btn-primary{
    border: 0px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
/* shared font style */



/* text primary */
.text-primary{
    color: #FD6E0A;
}
/* text primary */


/* nav related css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* nav related css */